body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container{
  background-color: #d2f5e3;
  margin: 0 auto;
  padding: 10px 0 50px 0;
}

.middle-container{
  padding: 50px 0 30px 0;
}

.bottom-container{
  padding: 20px 0 10px 0;
  background-color: #ffe05d;
  font-family: 'Merriweather', serif;
}

h1{
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #0e918c;
  font-weight: normal;
}

h2{
  color: #0e918c;
  font-size: 2.5rem;
  margin: 0;
  font-weight: normal;
}

h3{
  color: #0e918c;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

hr{
  border-style: dotted;
  border-bottom: 0;
  border-width: 5px;
  border-color: #a4b787;
  width: 5%;
}

a:hover{
  color: blue;
}

.mountain{
  height: 400px;
  width: 400px;
}
.top-cloud{
  position: relative;
  left: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  right: 1000px;
  bottom: 200px;
}

.mypic{
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.tt{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.ps{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row{
  width: 50%;
  margin: 10px auto 70px auto;
  text-align: left;
  padding: 40px 0;
}

.bio{
  width: 30%;
  margin: 40px auto 50px;
}

.contact-me{
  padding:50px 0 10px 0;
}

.contact-desc{
  width: 30%;
  margin: 15px auto 40px;
}

.myskills{
  margin-top: 70px;
}

.Welcome{
  margin-top: 20px;
}

.copyright{
  font-size: 10px;
  margin: 20px auto 0;
}

.footer-link{
  padding: 0 20px 0 20px;
}

.btn{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
